<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Coffee Leaf Disease Classification</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <div class="content-container">
    <h1><b>BARAKO - BAMA</b></h1>
    <div class="navbar">
      <div class="container">
        <a class="nav-link" href="#test">TEST</a>
        <a class="nav-link" href="#leaf">LEAF DISEASES</a>
        <a class="nav-link" href="#about">ABOUT US</a>
      </div>
    </div>
    <form id="upload-form" enctype="multipart/form-data">
      <div class="upload-container">
        <input type="file" id="image-input" accept="image/*" required>
        <button type="submit">Upload Image</button>
      </div>
    </form>
    <div id="image-container"></div>
    <div id="prediction-result"></div>
  </div>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>